# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Build output
dist/
build/
.vite/

# Environment
.env
.env.*.local

# Editor / OS
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Logs, coverage
logs/
*.log
coverage/

# Misc
.cache/
*.local
*.pem
*.key



#Python venv
.venv/*
venv/*
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv